@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
body{
    background: rgb(31,31,42);
    background: linear-gradient(90deg, rgba(31,31,42,1) 15%, rgba(74,38,69,1) 95%);
}
#name{
    color: #dac6d7;
    position: absolute;
    top: 35%;
    justify-content: center;
    font-family: "Raleway", serif;
    font-weight: 700;
    font-size: xx-large;
    letter-spacing: 0.5em;
    padding: 1%;
    animation-name: fadeIn;
    animation-duration: 3s;
}

@keyframes fadeIn {
    0% {opacity: 0; top: 30%}
    100% {opacity: 100%}
}